*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
.banner{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url("../img/banner.jpg");
}

.nav-bar{
    width: 100%;
    background: gray;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container .nav-bar ul{
  
}

.container .nav-bar ul li{
   
    display: inline-block;
    list-style: none;
    margin: 0 20px;
   
}
.logo{
    width: 80px;
    cursor: pointer;
}
.nav-bar ul li a{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}

.nav-bar .logo-header{
    color: orange;
    font-size: 30px;
   margin-right:800px;
}
.nav-bar .nav-details{
    margin-left: -300px;
}

.nav-bar .log-button{
  margin: 0 50px 0 0;
}

.container .nav-bar .nav-details ul li:hover{
    color: orange;
}

.banner .content{
    color: #fff;
}
.banner .content h2{
    font-weight: 500;
  
   
}
.search-box{
    
    /* border: 0.2em solid #130f40;*/
     
    /* background-color: #130f40;*/
     margin-bottom: 0px;
     /*margin-left:15px;
     margin-right: 15px;*/
     margin-top:70px;
     display: flex;
     flex-wrap: wrap;
     position:relative;
     justify-content: center;
     width: 100%;
    
 }
 #descript h4{
    text-align: center;
    font-size: 40px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #fff;
    margin-bottom: 80px;
    margin-top:100px;
 }
 
 #descript button{
     background-color: #001D3D;
     color: #fff;
     width: 150px;
     height: 50px;
     border-radius: 25px;
     border: .15em solid #fff;
     font-size: 16px;
     cursor: pointer;
    
 }
 
 #descript button:hover{
     background-color: #ff7800;
     color: #fff;
     width: 150px;
     height: 50px;
     border-radius: 25px;
     border: .15em solid #fff;
     transition:.4s linear;
 
     
    
 }
 .noUndreline{
    text-decoration: none;
    color: inherit;
}